:root {
  /*standard colourscheme*/
  --primary-background: #000000;
  --secondary-background: #005700;
  --primary-foreground: #ffffff;
  --secondary-foreground: #00ffff;
  /*contrast any foreground / any background > 7*/
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/*set primary background/foreground*/
body {
    color: var(--primary-foreground);
    background-color: var(--primary-background);
    margin: 0;
}

/*set border-box*/
* {
    box-sizing: border-box;
}

/*default img width not exceed container*/
img {
    width: 100%;
}

/*style layout*/

/*layout of header*/
div.header-logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*set background and border for header*/
header {
    background-color: var(--secondary-background);
    border-color: var(--primary-foreground);
    border-width: 0px 0px 2px;
    border-style: solid;
}

/* HEADER LOGO*/
img.header-logo {
    width: 60px; /*c. 2/12*/
    margin: 30px; /*c. 0.5/12*/
}

/* NAV */
ul {
    list-style-type: none;
}
nav ul li {
    display: block;
    padding: 0.5em;
    border-color: var(--primary-foreground);
    border-width: 1px 0px 1px 1px;
    border-style: solid;
}
nav ul li a {
    color: var(--primary-foreground);
    text-decoration-line: none; /*verkar inte ha effekt, vet ej varför*/
}

/* HERO IMAGE */
section.hero img {
    width: 100%;
}

/* HERO TEXT & BUTTON */

/*layout*/
section.hero div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 57.75vw; /*c. 9/12*/
}
/*text-boxes*/
section.hero div h2, section.hero div p {
    max-width: 82.5vw; /*c. 10/12*/
    text-align: center;
    margin: 0;
}
/*hero button*/
section.hero div button {
    background-color: var(--secondary-background);
    color: var(--primary-foreground);
    border-color: var(--secondary-foreground);
    min-width: 66vw; /*c. 8/12*/
    min-height: 16.5vw; /*c. 2/12*/
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.25em;
}

/* HORIZONTAL LINE*/
hr {
    color: var(--primary-foreground);
}

/* SECTION: NÄRA TILL NATUREN */
section.nara {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    justify-content: space-evenly;
    height: 57.75vw; /*c. 9/12*/
}
section.nara p, section.nara h2 {
    text-align: center;
    margin: 0;
}

/* SECTION: UPPLEV */

/*layout*/
section.upplev h2 {
    width: 100%;
    text-align: center;
}
section.upplev div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8.25vw; /*c. 1/12*/
    margin: 8.25vw; /*c. 1/12*/
    align-items: center;
}

/*cards*/
section.upplev section {
    width: 300px;
    height: 350px;
    background-color: var(--secondary-background);
    border-style: solid;
    border-width: 1px;
    border-color: var(--primary-foreground);
    border-radius: 10px;
}
section.upplev section img {
    border-radius: 10px 10px 0 0;
}

/* SECTION: PLANERA DITT BESÖK */

/*text boxes*/
section.planera div {
    width: 82.5vw; /*c. 10/12*/
    margin: auto;
}
section.planera div h2 {
    width: 100%;
    text-align: center;
}

/*button*/
section.planera button {
    background-color: var(--secondary-background);
    color: var(--primary-foreground);
    border-color: var(--secondary-foreground);
    width: 66vw;
    height: 16.5vw;
    border-radius: 10px;
    margin: 4.125vw 17vw;
    font-weight: bold;
    font-size: 1.25em;
}

/* FOOTER */
footer {
    background-color: var(--secondary-background);
    border-style: solid;
    border-width: 1px 0px 0px;
    border-color: var(--primary-foreground);
}

/*footer-logo*/
div.footer-logo img {
    width: 24.75vw; /*c. 3/12*/
    margin: 4.125vw; /*c. 1/24*/
}
/*logo text*/
.title {
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}
/*layout: footer-logo*/
div.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*footer logo text*/
div.footer-logo div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER LINKS */

/*layout*/
div.footer-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 8.25vw;
    margin: 8.25vw;
}

/*contact-links*/
div.contact ul li a {
    color: var(--secondary-foreground);
}

/*footer nav links*/
div.footer-nav ul li a {
    color: var(--secondary-foreground);
}