:root {
  /*standard colourscheme*/
  --primary-background: #000000;
  --secondary-background: #005700;
  --primary-foreground: #ffffff;
  --secondary-foreground: #00ffff;
  /*contrast any foreground / any background > 7*/
}

/*set primary background/foreground*/
body {
    color: var(--primary-foreground);
    background-color: var(--primary-background);
    margin: 0;
}

/*set border-box*/
* {
    box-sizing: border-box;
}

/*style layout*/

/*layout of header*/
div.header-logo-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*set background and border for header*/
header {
    background-color: var(--secondary-background);
    border-color: var(--primary-foreground);
    border-width: 0px 0px 2px;
    border-style: solid;
}

/* HEADER LOGO*/
img.header-logo {
    width: 60px; /*c. 2/12*/
    margin: 30px; /*c. 0.5/12*/
}

/* NAV */
ul {
    list-style-type: none;
}
li {
    display: block;
    padding: 0.5em;
    border-color: var(--primary-foreground);
    border-width: 1px 0px 1px 1px;
    border-style: solid;
}
nav ul li a {
    color: var(--primary-foreground);
    text-decoration-line: none; /*verkar inte ha effekt, vet ej varför*/
}

/* HERO IMAGE */
section.hero img {
    width: 100%;
}

/* HERO TEXT & BUTTON */

/*layout*/
section.hero div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
/*text-boxes*/
section.hero div h2, section.hero div p {
    max-width: 82.5vw; /*c. 10/12*/
    text-align: center;
}
/*hero button*/
section.hero div button {
    background-color: var(--secondary-background);
    color: var(--primary-foreground);
    border-color: var(--secondary-foreground);
    min-width: 66vw; /*c. 8/12*/
    min-height: 16.5vw; /*c. 2/12*/
    border-radius: 10px;
    margin: 4.125vw; /*c. 1/24*/
    font-weight: bold;
    font-size: 1.25em;
}